/* 1. EL CONTENEDOR PADRE (Mantiene el tamaño y centra el carrusel) */
.contenedorCarrusel {
    background-image: url('/section-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -80px;


    position: relative;
    width: 100%;
    margin: auto;
    /* Creamos el "colchón" de espacio a los lados para las flechas */
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    background-color: #F9F6F0;
}

/* 2. EL SWIPER (Ocupa el 100% del interior de su padre sin paddings raros) */
.swiper {
    width: 80%;
    padding-top: 90px;
}

.swiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    opacity: 20%;
}


.sliderImage {
    border-radius: 22px;
}



:global(.swiper-slide-active) {
    opacity: 100;
    /* filter: brightness(100%); */
}

/* 3. LOS BOTONES (Estilos de la burbuja externa) */
:global(.swiper-button-next),
:global(.swiper-button-prev) {
    color: black !important;
    background-color: #3b82f6;
    background-color: #F9F6F0;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    transition: background-color 0.2s ease;
}

/* 4. POSICIONAMIENTO (Sacamos las flechas hacia el espacio del padding) */
:global(.swiper-button-prev) {
    left: 0px !important;
}

:global(.swiper-button-next) {
    right: 0px !important;

}

/* 5. TAMAÑO DE LA FLECHA INTERNA (Cambiando el :global de posición) */
:global(.swiper-button-next)::after,
:global(.swiper-button-prev)::after {
    /* font-size: 10px !important; */
    width: 50%;


}


/* 6. EFECTO HOVER */
:global(.swiper-button-next):hover,
:global(.swiper-button-prev):hover {
    background-color: #1d4ed8;
}

@media (max-width: 768px) {

    .contenedorCarrusel {
        width: 100%;
        background-position: center -20px;
        padding: 10px;
    }

    .swiper {
        width: 100%;
        padding-inline: 0px;

    }

    .swiperSlide {

        width: 100%;
    }

    .sliderImage {
        border-radius: 22px;

    }
}