.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 10px 50px;
    
}

.headerTitle {
    font-family: var(--font-playfair), serif;
    text-transform: uppercase;

}

.headerNavItem {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}